<form action="/payment/results">
<div><label for="giraffe10">APR</label>
<input id="giraffe10" type="text" placeholder="E.g. 5.42" name="apr_user">
</div>
<div><label for="giraffe20">Number of years</label>
<input id="giraffe20" type="text" placeholder="How many years to repay?" name="years_user">
</div>
<div>
<label for="giraffe30">Principal</label>
<input id="giraffe30" type="text" placeholder="How much principal?" name="principal_user">
</div>
<button>Calculate monthly payments</button>

</form>