<form action="/random/results">
<label for="fish">Minimum</label>
<input id="fish" type="text" placeholder="E.g. 1.5" name="user_min">

<label for="bird">Maximum</label>
<input id="bird" type="text" placeholder="E.g. 4.5" name="user_max">

<button>Pick random number</button>

</form>