<form action="/square_root/results">
<label for="ffish">Enter a number</label>
<input id="ffish" type="text" placeholder="What number do you want" name="user_square_root">

<button>Calculate square root</button>

</form>
